SECRET_KEY=CHANGE_ME_MIN_32_CHARS
ALGORITHM=HS256

APP_BASE_PATH=/ext/stocks
APP_MENU_URL=/
LOGOUT_REDIRECT_URL=/

STOCKS_MYSQL_HOST=127.0.0.1
STOCKS_MYSQL_PORT=3306
STOCKS_MYSQL_USER=your_user
STOCKS_MYSQL_PASSWORD=your_password
STOCKS_MYSQL_DATABASE=stocks_db

DB_MAX_RETRIES=30
DB_RETRY_DELAY=2

CONTROL_PLANE_BASE_URL=http://your-portal-host:8088
CONTROL_PLANE_TIMEOUT=1.0
CONTROL_PLANE_READ_TIMEOUT=3.0

CONTAINER_NAME=rodel-stocks
APP_PORT=8020
DOCKER_SUBNET=172.31.0.0/16
APP_IP=172.31.0.10
DOCKER_EXTERNAL_NETWORK=rodelsoft_net
DOCKER_HOST_GATEWAY=host.docker.internal:host-gateway
